@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1320px;
    max-width: 1320px;
    margin: 0 auto;
}
.banner{
    background: url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    /* background-color: transparent; */
    background-color: #07021127;
}
.banner>h3{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    padding-top: 177px;
    margin-bottom: 16px;
}
.banner>h2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 177px;
}
/* ======= ALL CATEGORIES PART ========= */
.categories{
    text-align: center;
    margin-top: 120px;
}
.categories > h2{
    color: #F00; 
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    font-family: Inter;
  
}
.categories p{
    color: #F00;
    margin-top: 48px; 
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    font-family: Inter;
}
.categories h1{
    color: #070211;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-family: Inter;
}
.categories img{
    margin-top: 48px;
    width: 802px;
}
/* =========== Midnight party Start============= */
.midnight_part{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 120px;
    padding-left: 120px;
    width: 1320px;
    height: 600px;
    background: url("../images/Vectorrr.png");
    background-position: center;
    background-repeat: no-repeat;
}
.midnight_part h2 {
    color: #FFF;
    width: 642px;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
}
.midnight_part p{
    color: rgba(255, 255, 255, 0.80);
    width: 697px;
    margin-top: 24px;
    font-family: Inter;
    font-size: 18px;
}
.midnight_part .join_btn{
    color: #FFF;
    margin-top: 48px;
    width: 103px;
    height: 24px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
/*  =======Apply or information Start=============  */
.applyOrInformation{
    margin-top: 120px;
    text-align: center;
}
.applyOrInformation h3{
color: #070211;
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
}
.applyOrInformation h3 span{
    color: #F00;
}
.applyOrInformation button{
    color: #FFF;
    background: #F00;
    border-radius: 8px;
    margin-top: 48px;
    padding: 16px 32px;
    margin-bottom: 110px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: Inter;
    text-transform: uppercase;
}
/*  ========Comming Soon Part============ */
.comming_soon{
    margin-top: 120px;
    display: flex;
    /* gap: 40px; */
}
.newest_text_part1 h3{
    color:#F00;
    padding-top: 104px;
    font-size: 24px;
    font-family: inter;
    font-weight: 500;
}
.newest_text_part1 h2{
    color:#070211;
    padding-top: 16px;
    font-size: 48px;
    font-family: Merriweather;
    font-weight: 900;
}
.newest_text_part1 p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    margin-top: 22px;
    margin-bottom: 104px;
    padding-right: 70px;
}
.newest_img_part img{
    border-radius: 50%;
    border: 15px solid #F00;
    padding: 50px;
}
.newest_text_part2{
    margin-left: 118px;
}
.newest_text_part2 h3{
    color: #F00;
    font-size: 48px;
    font-family: Inter;
    font-weight: 700;
    margin-top: 112px;
}
.newest_text_part2 p{
    color: rgba(7, 2, 17, 0.60);
    margin-top: 16px;
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
}
.newest_text_part2 img{
    width: 140px;
    height: 140px;  
    margin-top: 43px;
}
/* ========holyday_part======== */
.holy_text_part{
    text-align: center;
}
.holy_text_part h3{
    color: #070211;
    margin-top: 120px;
    font-size: 24px;
    font-weight: 500;
    font-family: Inter;
}
.holy_text_part h2{
    color: #070211;
    margin-top: 16px;
    font-size: 72px;
    font-weight: 900;
    font-family: Merriweather;

}
.holy_text_part span{
    color: #F00;
}
.holy_text_part p{
    color: rgba(7, 2, 17, 0.60);
    margin-top: 28px;
    padding: 0px 126px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: Inter;
    margin-bottom: 64px;
}
.holy_img_middle_part{
    padding-top: 100px;
    background-image: url("../images/Rectangle\ 1.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;

}
.holy_img_middle_part .left {
    margin-top: 64px;
    text-align: center;
}
.holy_img_middle_part .right {
    margin-right: -67px;
    text-align: center;
}

.holy_img_last_part{
    background: url("../images/Rectangle\ 2.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 1320px;
    height: 286px;
}
.holy_img_last_part img{
    width: 600px;
    height: 600px;
    
}




/* ============Our Awesome Portfolio part============ */
.Portfolio_text h3{
    color: #F00;
    margin-top: 120px;
    font-size: 24px;
    font-weight: 500;
    font-family: Inter;
}
.Portfolio_text h2{
    color: #070211;
    margin-top: 16px;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.Portfolio_text p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    margin-top: 22px;
    width: 896px;
    margin-bottom: 48px;
}
.Portfolio .part1{
    display: flex;
    gap: 24px;
}
.Portfolio .part2{
    display: flex;
    gap: 24px;
}


/* ============Subscribe Newsletter Part========== */
.newsubscriber{
    text-align: center;
    margin-top: 120px;
}
.newsubscriber img{
    width: 150px;
    height: 150px;
    margin-top: 80px;
}
.newsubscriber h2{
    color: #070211;
    margin-top: 40px;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    font-family: Merriweather;
}
.newsubscriber p{
    color: rgba(7, 2, 17, 0.60);
    margin-top: 22px;
    width: 896px;
    margin: 0 auto;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
}
.input-button{
    border-radius: 50px;
}
.input-button input{
    background: #FFF;
    width: 448px;
    padding: 25px 30px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    border-radius: 50px 0px 0px 50px;
    border: 0px;
}
.input-button button{
    width: 210px;
    color: #FFF;
    background: #F00;
    margin-top: 48px;
    padding: 25px 30px;
    border-radius: 0px 50px 50px 0px;
    border: 0px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 80px;

}
/* ==============footer part start ================ */
#footer{
    background: #070211;
    margin-top: 120px;
}
.footer_first_part{
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 50px;
}
.footer_text_left{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.footer_first_part .footer_text_right{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-right: 150px;

}
.footer_icon_part{
    margin-top: 48px;
    text-align: center;
    padding-bottom: 48px;
}
.footer_icon_part img{
    margin-right: 10px;
}
.footer_2nd_part{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 120px;
}
.footer_2nd_part .footer_text_right{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}