*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
}
.banner{
    background: url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
}
.banner>h3{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    padding-top: 177px;
    margin-bottom: 16px;
}
.banner>h2{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 177px;
}
/* ======= ALL CATEGORIES PART ========= */
.categories{
    text-align: center;
    margin-top: 120px;
}
.categories > h2{
    color: #F00; 
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    font-family: Inter;
  
}
.categories p{
    color: #F00;
    margin-top: 48px; 
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    font-family: Inter;
}
.categories h1{
    color: #070211;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-family: Inter;
}
.categories img{
    margin-top: 48px;
    width: 802px;
}
/* =========== Midnight party Start============= */
.midnight_part{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 120px;
    padding-left: 120px;
    width: 1320px;
    height: 600px;
    background: url("../images/Vectorrr.png");
    background-position: center;
    background-repeat: no-repeat;
}
.midnight_part h2 {
    color: #FFF;
    width: 642px;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
}
.midnight_part p{
    color: rgba(255, 255, 255, 0.80);
    width: 697px;
    margin-top: 24px;
    font-family: Inter;
    font-size: 18px;
}
.midnight_part .join_btn{
    color: #FFF;
    margin-top: 48px;
    width: 103px;
    height: 24px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
/*  =======Apply or information Start=============  */
.applyOrInformation{
    margin-top: 120px;
    text-align: center;
}
.applyOrInformation h3{
color: #070211;
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
}
.applyOrInformation h3 span{
    color: #F00;
}
.applyOrInformation button{
    color: #FFF;
    background: #F00;
    border-radius: 8px;
    margin-top: 48px;
    padding: 16px 32px;
    margin-bottom: 110px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: Inter;
    text-transform: uppercase;
}
/*  ========Holy Days Salse part============ */
.holyday_sales{
    margin-top: 120px;
    display: flex;
}